@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i');


@viewport{
    width: auto;
    height: auto;
}

body{
    margin: 0 auto;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

p{
    margin: 0 auto;
}

h1, h2, h3, h4, h5{
    margin: 0;
}

img{
    width: 100%;
    height: 100%
}

/****************** NAVIGATION PANE *************/
header{
    position: fixed;
    display: block;
    width: 100%;
    height: auto;
    top: 0;
    background-color: white;
    margin: 0 auto;
    padding: 1% 0;
    z-index: 999;
    font-weight: 100;
    font-size: 1.5em;
    border-bottom: solid;
}

nav{
    max-width: 100%;
    text-align: center;

}

nav ul{
    list-style: none;
    margin: 0 auto;
    padding: 0;
}


.desktopNav{
    display: block;
    height: auto;
}

.desktopNav ul{
    margin: 0 auto;
    position: sticky;
    right: 0;
    float: right;
    width: 40%;
    margin-right: 5%
}

.desktopNav ul li{
    display: inline-block;
    margin-right: 3%;
}

.desktop ul li::hover{
    background: -webkit-linear-gradient(45deg, red, yellow, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#navButton{
    background-color: pink;
    padding: 10px;
    height: 6%;
    display: none;
    font-weight: 200;
}









/****************** FIRST PAGE WITH SLIDES ******************/
.pinSlides{
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
}
#slideContainer {
    width: 200%; /* to contain 4 panels, each with 100% of window width */
    height: 100%;
    top: 0 !important;
}
.panel {
    height: 100%;
    width: 50%; /* relative to parent -> 25% of 400% = 100% of window width */
    left: 0 !important;
    float: left;
}

#p1{
    background-color: green;
    margin-left:0;
}

#p2{
    background-color: aqua;
    left: 0;
    right: 0;
}







/****************** OTHER PAGES ******************/
.fullPage{
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    top: 30.5px !important;
    left: -5 !important;
}

.content{
    background-color: brown;
    margin-top: 10%;
    margin-bottom: 50%;
    margin-left: 3%;
    margin-right: 3%;
    text-align: center;
}

#home{
    margin-bottom: 50%;
}


#p2{
    display: block;
    margin-bottom: 500px;
}

#exerience{
    margin-top: 4%;
    padding-top: 1%;
    margin-bottom: 100px;
}



#skills{
    margin-top: 4%;

}

#projects{
    margin-top: 4%;
    white-space: nowrap;
    overflow: auto;
    overflow-y: hidden;
}




/***************** Panel & Projects area ****************/
.pinProjectSlides{
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
}

#projects100{
    width: 100%;
    height: 100%;
}

#myProjectSlideContainer {
    width: 300%; /* to contain 4 panels, each with 100% of window width */
    height: 100%;
    top: 0 !important;
}

.panelProjects{
    display: inline-block;
    height: 100%;
    width: calc(100%/3); /* relative to parent -> 25% of 400% = 100% of window width */
    margin: 0;
    left: 0 !important;
    float: left;
}


#myProjects{
    background-color: white;
}
#webdesignProjects{
    background-color: pink;
}

.content{
    margin-top: 7%;
    padding-top: 1%;
    padding-bottom: 1%;
}

    #webdesignProjects #gridProjectContent{
        margin-left: 3%;
        margin-top: 5%;
        display: grid;
        grid-template-columns: repeat(auto-fill, 250px);
        grid-template-rows: repeat(auto, 300px);
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        margin-bottom: 5%;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 20px;
        padding-bottom: 1%;
    }

    .thumbnail{
        width: 250px;
        height: 300px;
        background-color: white;
        border-radius: 10px;
    }
    .thumbnail.active {
        background-color: grey;
    }

    .thumbnail .imgHolder{
        background-color: white;
        margin: 2% auto;
        max-width: 95%;
        height: 70%;
        border-radius: 10px;
    }
        #resumeOrange{
            background-color: rgb(247, 216, 143);
        }
        #upupBeige{
            background-color: beige;
        }

        .thumbnail img{
            max-width: 100%;
            max-height: 70%;
            align-items: center;
        }
            #noCssResume{
                margin-top: 15%;
                max-height: 50%;
            }
            #cssResume{
                margin-top: 15%;
                max-height: 50%;
            }
            #upup{
                margin-top: 15%;
                max-height: 50%;
            }
            #howTo{
                margin-top: 27%;
                max-height: 20%;
            }
            #plugin{
                border-radius: 10px;
                max-height: 100%;
            }




#compSciProjects{
    background-color:red;
}








@media only screen and (min-width:0px) and (max-width: 860px){
    #navButton{
        background-color: pink;
        display: block;
    }
    .desktopNav{
        display: none;
    }
    .mobileNav{
        width: 100%;
        background-color: yellow;
    }

    .mobileNav ul{
        margin: 0 auto !important;
    }
}
