@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Satisfy');


h2{
    margin: 0;
    display: block;
    font-size: 10vmin;
    font-family: 'Amatic SC', cursive;
    font-weight: 600;
    color: white;
}

#home{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    background-image: url("../Images/nowords.png");
    background-size: auto 100%;
    /* background-position: right center; */
    background-position: left top;
    background-repeat: no-repeat;
}



#title{
    display: block;
    position: absolute;
    width: 20% !important;
    background-color: rgba(224, 197, 168, .4);
    margin-left: 5%;
    padding-left: 3%;
    padding-right: 3%;
    z-index: 999;
    top:0;
    left: 0;
    bottom: 0;
}

#title h1{
    font-size: 12vmin;
    padding-left: 1%;
    padding-right: 1%;
    font-family: 'Satisfy', cursive;
    font-weight: normal;
    margin-bottom: 1%;
    text-align: center;
    text-decoration: underline;
}

#title p{
    font-size: 4vmin;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    margin:0;
}




#sydney h2{
    display: block;
    font-size: 10vmin;
    color: white;
}

.lFlagUp {
    display: inline-block;
    position: absolute;
    width: auto !important;
    height: auto !important;
    margin-top: 3%;
    background-color: rgba(132, 132, 132, .4);
    padding-left: 3%;
    padding-right: 3%;
    left: 0;
    top: 0;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}


#sydney .lFlagUp{
    position: absolute;
    display: inline-block;
    top: 0;
    margin-top: 3%;
    z-index: 998;
}

.lnk a{
    margin-bottom: 0;
    color: white;
    text-decoration: none;
}


.lnk a:hover{
    font-style: italic;
    color:rgb(204, 190, 232);
}


.fp-slide{
    position: relative;
}

#sydney .rFlagB{
    position: absolute;
    display: inline-block;
    z-index: 997;
    bottom: 0;
    margin-bottom: 3%;
    right: 0;
}



#city{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/5c/Sydney_skyline_at_dusk_-_Dec_2008.jpg");
    /* By Diliff [CC BY-SA 3.0 (https://creativecommons.org/licenses/by-sa/3.0) or GFDL (http://www.gnu.org/copyleft/fdl.html)], from Wikimedia Commons */
    background-size: auto 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
}


#opera{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/6f/Sydney_Opera_House_%286409684029%29.jpg");
    /* By Pedro Szekely from Los Angeles, USA (Sydney Opera House) [CC BY-SA 2.0 (https://creativecommons.org/licenses/by-sa/2.0)], via Wikimedia Commons */
    background-size: 105% auto;
    background-position: center center;
    background-repeat: no-repeat;
}

#bridge{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/33/Sydney_harbour_bridge_dusk.jpg");
    /* By Adam.J.W.C. [CC BY-SA 2.5 (https://creativecommons.org/licenses/by-sa/2.5)], from Wikimedia Commons */
    background-size: auto 100%;
    background-position: center center;
    background-repeat: no-repeat;
}


#zoo{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/69/Taronga_Zoo_-Sydney%2C_Australia-21March2006.jpg");
    /* By tom heyes from stockport, uk (Taronga Zoo  Uploaded by Snowmanradio) [CC BY 2.0 (https://creativecommons.org/licenses/by/2.0)], via Wikimedia Commons */
    background-size: 100%;
    background-position: center left;
    background-repeat: no-repeat;
}


#cairns{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/df/Reef_Snorkelling_on_the_Great_Barrier_Reef.jpg");
    /* By User: (WT-shared) Queensland at wts wikivoyage [CC BY-SA 4.0-3.0-2.5-2.0-1.0 (https://creativecommons.org/licenses/by-sa/4.0-3.0-2.5-2.0-1.0)], from Wikimedia Commons */
    background-size: 100% auto;
    background-position: center center;
    background-repeat: no-repeat;
}

#cairns .fp-tableCell{
    padding: 0;
}

#cairns h2{
    display: block;
    font-size: 10vmin;
    margin: 0;
}

#i a{
    margin-top: 30%;
    margin-bottom: 0;
    color: white;
    text-decoration: none;
}

#i a:hover{
    color: aqua;
    font-style: italic;
}

.rFlagB {
    display: inline-block;
    position: absolute;
    width: auto !important;
    height: auto;
    margin-bottom: 3%;
    background-color: rgba(132, 132, 132, .4);
    padding-left: 3%;
    padding-right: 3%;
    z-index: 996;
    right: 0;
    bottom: 0;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}





#aliceSprings{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/3f/Uluru%2C_helicopter_view.jpg");
    /* By Corey Leopold (Uluru/Ayers Rock) [CC BY 2.0 (https://creativecommons.org/licenses/by/2.0)], via Wikimedia Commons */
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

#aliceSprings h2{
    display: inline-block;
    font-size: 10vmin;
    color: white;
}

.rFlagUp {
    display: inline-block;
    position: absolute;
    width: auto !important;
    height: auto;
    margin-top: 3%;
    background-color: rgba(132, 132, 132, .4);
    padding-left: 3%;
    padding-right: 3%;
    z-index: 997;
    right: 0;
    top: 0;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

#u a{
    margin-bottom: 0;
    color: white;
    text-decoration: none;

}
#u a:hover{
    margin-bottom: 0;
    font-style: italic;
    color: rgb(232, 206, 164);
}







#kangIsland{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/2/29/Kangaroo_Island_kangaroos.jpg");
    /* By Paul Asman and Jill Lenoble [CC BY 2.0 (https://creativecommons.org/licenses/by/2.0)], via Wikimedia Commons */
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

#kangIsland h2{
    display: block;
    font-size: 10vmin;
    color: white;
}

#n a{
    margin-bottom: 0;
    color: white;
    text-decoration: none;

}
#n a:hover{
    margin-bottom: 0;
    font-style: italic;
    color: green;
}
